<form class="order-form">

  <div class="container">
    {{#if order}}
    <input type="text" name="id" hidden value="{{order.id}}">
    {{/if}}
    <select name="driver" id="">
        {{#if order.driver}}
        <option selected disabled  value="{{order.driver.id}}">{{order.driver.name}}</option>
        {{else}}
         <option selected default>Selecciona el driver</option>
        {{/if}}
       
        {{#each drivers as |driver|}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>

    <select name="truck" id="">
        {{#if order.truck}}
        <option selected disabled  value="{{order.truck.id}}">Fabricante: {{order.truck.make}} Modelo: {{order.truck.model}} #{{order.truck.number}}</option>
        {{else}}
         <option selected default>Selecciona el camion</option>
        {{/if}}
        
        {{#each trucks as |truck|}}
        <option value="{{id}}">Fabricante: {{make}} Modelo: {{model}} #{{number}}</option>
        {{/each}}
    </select>

    <select name="trailer" id="">
        {{#if order.trailer}}
        <option selected disabled  value="{{order.trailer.id}}">Trailer # {{order.trailer.number}}</option>
        {{else}}
        <option selected default>Selecciona el trailer</option>
        {{/if}}
        
        {{#each trailer as |trailer|}}
        <option value="{{id}}">Trailer #{{number}}</option>
        {{/each}}
    </select>
    <button class="sign-btn" type="submit">{{#if order}} Actualizar orden {{else}} Crear Orden {{/if}}</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
  </div>
</form>

<script src="/javascript/createorder.js"></script>

<style>
    /* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=date], input[type=number], select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.sign-btn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
.sign-btn:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
</style>
