<form class="trailer-form">

  <div class="container">
    {{#if trailer}}
    <input type="text" name="id" hidden value="{{trailer.id}}">
    {{/if}}
    <input type="text" name="make" placeholder="Ingresa la marca" required value="{{trailer.make}}">
    
    <input type="number" name="year" placeholder="Año" required value="{{trailer.year}}">

    <input type="text" name="vin" placeholder="Vin" required value="{{trailer.vin}}">

    <input type="text" name="plate" placeholder="Placa" required value="{{trailer.plate}}">

    <input type="text" name="number" placeholder="Numero"  required value="{{trailer.number}}">

    <button class="sign-btn" type="submit"> {{#if trailer}} Actualizar trailer {{else}} Crear trailer {{/if}}</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
  </div>
</form>

<script src="/javascript/trailer-form.js"></script>

<style>

form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password], input[type=date], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.sign-btn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.sign-btn:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
</style>